.product-details{
    display: flex;
    border-bottom: 1px solid lightgrey;
    padding: 20px 0;
    margin-right: 10px;
}
.product-details .product-info{
    margin-left: 10px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.add-cart-btn{
    width: 200px;
    background-color: greenyellow;
    border: 1px solid grey;
    border-radius: 5px;
    line-height: 20px;
    cursor: pointer;
}